@import "../../../variables";

.admin-dashboard {
    table {
      margin-top: 1rem;
      width: 100%;
      tr {
        td {
          text-align: center;
        }
      }
      img {
        max-width: 64px;
        margin: 0 auto;
        display: block;
      }
    }
    #add-button {
      background-color: $pink;
      padding: 3px;
      color: darken($pink, 70%);
      font-family: $main-font;
      border-radius: 5px;
    }
}