@import "../../../variables";

.admin-dashboard {
    table {
      margin-top: 1rem;
      width: 100%;
      border: 2px solid $pink;
      tr {
        border: 2px solid $pink;
        td {
          text-align: center;
          border: 2px solid $pink;
        }
        th {
          border: 2px solid $pink;
        }
      }
      img {
        max-width: 64px;
        margin: 0 auto;
        display: block;
      }
      button {
        @include link();
      }
    }
    #add-button {
      @include link();
    }
}