@import "../variables";

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  .error,
  .container {
    flex: 1 0 auto;
  }
  footer {
    margin-top: 1rem;
    flex-shrink: 0;
  }
}

td,
th,
li,
p,
h1, h2, h3, h4, h5, h6 {
  font-family: $main-font;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}