@import "../../variables";

.products {
  #search-form {
    input[type="submit"] {
      @include link();
    }
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media all and (max-width: 965px) {
      flex-direction: column;
      .column {
        margin-bottom: 2rem;
        img {
          display: block;
          margin: 0 auto;
        }
        a {
          margin: 0 auto;
          width: max-content;
        }
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      a {
        @include link();
      }
      p {
        margin: 0;
      }
      a,p {
        text-align: center;
      }
      img {
        max-width: 256px;
      }
    }
  }
}